html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}


.centered-div {
  position: absolute;
  left: 10%;
  /* transform: translateX(-50%); */
  /* Optional: add top spacing for each div */
  margin-top: 10%;
  text-align: center;
}
